@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@1,300&display=swap");

#resume h1 span {
  color: var(--primary-black);
  font-weight: 300;
  font-size: 1.5rem;
  border-bottom: 0.1875rem solid var(--primary-orange);
}

#resume p {
  font-weight: 300;
  font-size: 1.5rem;
}

#resume .container {
  margin-top: 64px;
}

.education h3 {
  font-family: inherit;
  font-weight: 900;
  margin-bottom: 12px;
}

.work h3 {
  font-weight: 900;
}

.info {
  font-family: "Source Serif 4", sans-serif;
  font-weight: 300;
  /* font-style: oblique; */
}

/* section .skills {
  font-size: 8rem;
  display: grid;
  grid-template-columns: repeat(6, 0fr);
  text-align: center;
  grid-row-gap: 32px;
  justify-content: center;
  opacity: 1;
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
} */

section .skills {
  font-size: 8rem;
  display: grid;
  grid-template-columns: repeat(6, 0fr);
  text-align: center;
  grid-row-gap: 32px;
  justify-content: center;
  opacity: 1;
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}

section .skills .technology {
  cursor: pointer;
  padding: 13.6px;
  border-radius: 5px;
}

section .skills .technology:hover,
.technology:active {
  background-color: #11abb0;
  border-color: #11abb0;
  color: #fff;
}

[class*=" devicon-"],
[class^="devicon-"] {
  color: #2b2b2b;
}

@media (max-width: 800px) {
  .skills .technology {
    display: none;
  }
}
