#about {
  background-color: var(--primary-bg);
  padding: 6rem 0;
  color: var(--primary-white);
}

#about h1 {
  font-family: inherit;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

#about p {
  font-family: inherit;
  font-weight: 300;
  line-height: 2rem;
  width: 85%;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 30%;
  border: 5px solid var(--primary-gold);
}

@media (max-width: 800px) {
  .photo {
    display: none;
  }
}

.contact {
  margin: 0 0 0 0 !important;
}

.mailIcon {
  margin-left: 0.8em;
  width: 32px;
  height: 32px;
  color: #444;
}

.mailIcon:hover {
  color: #fff;
}

.downloadIcon {
  margin-right: 0.8em;
}

.btn-download {
  background-color: var(--primary-black);
  font-weight: 900;
}

.btn-download:hover {
  background-color: var(--primary-white);
  color: var(--primary-black);
}
