@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
}

.App {
  background: url("./img/istockphoto-1032782930-640x640.jpg") fixed;
  height: 37.5rem;
}

.App::before {
  content: "";
  background: linear-gradient(to right, black, transparent);
  position: absolute;
  left: 0;
  height: 100%;
  width: 70%;
}
