@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

:root {
  --primary-gold: #ffd700;
  --primary-orange: #ffa500;
  --primary-white: #ffffff;
  --primary-violet: #a35ee0;
  --primary-black: #000000;
  --primary-brown: #483b3b;
  --primary-bg: #2b2b2b;
  --primary-mint: #11abb0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
